.container {
  width: 50%;
  margin: 50px 0;
}
.card {
  margin: 0 2% !important;
  background-color: #e2e1e1 !important;
}
.card h1 {
  font-size: 20px;
  margin: 0;
}
.totalConfirmed {
  border-bottom: 10px solid #e74c3c !important;
}

.totalRecovered {
  border-bottom: 10px solid #2ecc71 !important;
}

.totalDeaths {
  border-bottom: 10px solid #34495e !important;
}
